[submodule "Assets/TheKarters_Workshop_ModuleRelease"]
	path = Assets/TheKarters_Workshop_ModuleRelease
	url = git@github.com:PixelEdgeGames/TheKarters_Workshop_ModuleRelease.git
[submodule "TheKarters_EnviroAssets"]
	path = TheKarters_EnviroAssets
	url = git@github.com:PixelEdgeGames/TheKarters_EnviroAssets.git
[submodule "Assets/TheKarters_Workshop_Content"]
	path = Assets/TheKarters_Workshop_Content
	url = git@github.com:PixelEdgeGames/TheKarters_Workshop_Content.git
