[submodule "TheKarters_EnviroAssets"]
	path = TheKarters_EnviroAssets
	url = git@github.com:PixelEdgeGames/TheKarters_EnviroAssets.git
[submodule "Assets/Workshop_Content"]
	path = Assets/Workshop_Content
	url = git@github.com:PixelEdgeGames/TheKarters_Workshop_Content.git
[submodule "Workshop_Module"]
	path = Workshop_Module
	url = git@github.com:PixelEdgeGames/TheKarters_WorkshopModule.git
